{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<h2 align="center">Регистрация нового пользователя</h2>
{% if user.is_authenticated %}
<p>Вы уже авторизованы</p>
    {% else %}
<form method="post">
    {% csrf_token %}

    {% for f in form %}
    <table align="center">
<tr>
  <td><label for="{{f.id_for_label}}">{{f.label}}: </label></td>
</tr>
<tr>
  <td>{{ f }}</td>
</tr>
</table>
    {% if f.errors %}
    <table align="center">
<tr>
  <td><div class="alert alert-danger">{{f.errors}}</div></td>
</tr>
    {% endif%}
    {% endfor %}
    <p align="center">
    <input class='btn btn-danger' type="submit" value="Зарегистрироваться">
    </p>
</form>
    {% endif %}
{% endblock %}