<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Распознаватор</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>


<div class="header">
    <nav style="display: flex; justify-content: center">
        <a href="" class="white-button">Главная</a>

        <div class="blue-rect">
            <a href="" class="func-button">Функционал</a>
        </div>

        <div class="white-rect">
            <div class="flex-logo" style="gap: 5px">
                <a href="" class="raspoznavator">Распознаватор</a>
                <img src="mini_logo.svg" class="mini-logo">
            </div>
        </div>

        <a href="" class="white-button">Регистрация</a>

        <a href="" class="white-button">Вход</a>

    </nav>
</div>


<!--Секция для записей - внутри history-block циклом вставляй также див note-rect и а note-->
<section class="history-block">
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>
    <div class="note-rect">
        <a class="note">Запись от 18.04.2022</a>
    </div>

</section>


<footer>
    <div style="display:flex; justify-content: center; align-items: flex-end">
        <div class="blue-rect">
            <div class="lower-bar" style="gap: 8px; color: black">
                <a class="footer-elem" style="margin-left: 10px" href="">Сайт факультета</a>
                <span> | </span>
                <a class="footer-elem" href="">Новости</a>
                <span> | </span>
                <a class="footer-elem" href="">Контакты</a>
                <span> | </span>
                <a class="footer-elem" href="">FAQ</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>