{% extends 'base.html' %}

{% block body %}
<h6><strong>Обновление 12.03.2022:</strong></h6>
<p>- Добавлена возможность обмениваться аудио и
    текстовыми записями между пользователями</p>
<h6><strong>Обновление 05.03.2022:</strong></h6>
<p>- Добавлена регистрация и аутентификация пользователей. Теперь функционал доступен
только авторизованным пользователям</p>
<h6><strong>Обновление 26.02.2022:</strong></h6>
<p>- Новый функционал: Перевод текста в речь.<br>
- Полученные аудиозаписи будут сохраняться в новой вкладке "Мои записи"</p>
<h6><strong>Обновление 19.02.2022:</strong></h6>
<p>- Новый функционал: Распознавание текста по аудиозаписи<br>
- Добавлена возможность записывать аудиозаписи прямо на сайте<br>
- Теперь все полученные записи хранятся в разделе "Мои записи"</p>
{% endblock %}